{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="d-grid gap-2">
        <a class="btn btn-secondary " href="/produto/cadastro" type="button">Cadastrar Produto</a>
        <a class="btn btn-secondary" href="/produto/categoria" type="button">Cadastrar Categoria</a>
        <a class="btn btn-secondary" type="button">Aprovação</a>
        <a class="btn btn-secondary" href="/dashboard-usuario" type="button">Dashboard de usuário</a>
    </div>
</div>
{% endblock content %}