{% extends "base.html" %}

{% block content %}
<h2 align="center">Aprovação</h2>
{% for pedido in pedidos %}
        <div class="card text-center " style="margin-left: 20px; margin-right: 20px; margin-bottom: 10px;">
            <div class="card-header">
            Pedido {{pedido.id}}
            </div>
    
            <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Número Pedido</th>
                    <th scope="col">Aprovação</th>
                    <th scope="col">Ação</th>
                    <th scope="col">Status</th>
                </tr>
                </thead>
                <tbody>
                
                    <tr>
                        <th>{{pedido.id}}</th>
                        <td>
                            <form action="/aprovacao/{{pedido.id}}" method="POST">
                            <select class="form-select form-select-sm" name="aprovacao" id="aprovacao" aria-label=".form-select-sm example">
                            <option selected>Selecione</option>
                                {% for aprovacao in aprovacoes%}
                                <option value="{{aprovacao.id}}">{{aprovacao.mensagem}}</option>
                                {% endfor %}
                            </select>
                            <td>
                            <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
                            </td>
                        </form>
                        </td>
                        <th>{{pedido.aprovacao.mensagem}}</th>
                    </tr>
                    <tr>
                        
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Produto</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Vl. Unit.</th>
                </tr>
                </thead>
                {% for produto in produtos_pedidos %}
                <tbody>
                    
                    <tr>
                        {% if pedido.id == produto.pedido.id %}
                        <th>{{produto.id_produto}}</th>
                        <td>{{produto.produto.modelo}}</td>
                        <td>{{produto.produto.marca}}</td>
                        <td>{{produto.quantidade}}</td>
                        <td>{{produto.valor}}</td>
                        {% endif %}
                    </tr>
                </tbody>
                {% endfor %}
            </table>
                    
                    </tr>
                   
                </tbody>
                
            </table>
            
            <div class="card-footer ">
            CEP: <strong>{{pedido.cliente.cep}}</strong>
            <div>
                Frete: <strong>10</strong>
            </div>
            <div>
                Total: <strong>{{pedido.total}}</strong>
            </div>
            </div>
        </div>
    
        </div>
        <br><br>
        {% endfor %}
{% endblock content %}