{% extends "base.html" %}

{% block content %}
{% if produtos %}
<h1 align="center">{{quant}} Resultados encotrados</h1>
<br/>
<h2>Busca por "{{busca}}"</h2>
{% endif %}

<div style="padding-bottom: 30px; display: flex; padding-left: 30px;">
    <div class="row">
  {% for data in produtos %}
  <div class="card" style="width: 18rem; margin-right: 30px;">
    <img src = "{{ url_for('produtoController.get_imagem', id=data.id_imagem) }}" class="card-img-top" style="width: 160px; margin-top: 10px;">
    <div class="card-body">
      <h5 class="card-title">Modelo: {{data.modelo}}</h5>
      <p class="card-text">Marca:{{data.marca}}</p>
      <p class="card-text">Tamanho: {{data.tamanho}}</p>
      <h4>R$ {{data.preco}}</h4>
      <a href="/produtos/{{data.id}}" class="btn btn-primary">Adicionar ao carrinho</a>
    </div>
  </div>
  {% endfor%}
  </div>
  </div>
{% endblock content %}