{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h3>Cadastre-se</h3>
        <form method="POST">
            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                <label class="form-label" for="email">Email</label>
                <input type="email"
                        required
                        class="form-control"
                        name="email" 
                        id="email" 
                        placeholder="Email">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                <label class="form-label" for="nome">Nome</label>
                <input type="text"
                        required
                        class="form-control"
                        name="nome" 
                        id="nome" 
                        placeholder="Nome">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                <label class="form-label" for="cpf">CPF</label>
                <input type="text"
                        required
                        class="form-control"
                        name="cpf" 
                        id="cpf" 
                        placeholder="CPF">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                <label class="form-label" for="endereco">Endereço</label>
                <input type="text"
                        required
                        class="form-control"
                        name="endereco" 
                        id="endereco" 
                        placeholder="endereco">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                <label class="form-label" for="telefone">Telefone</label>
                <input type="text"
                        required
                        class="form-control"
                        name="telefone" 
                        id="telefone" 
                        placeholder="telefone">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                <label class="form-label" for="cep">CEP</label>
                <input type="text"
                        required
                        class="form-control"
                        name="cep" 
                        id="cep" 
                        placeholder="cep">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                <label class="form-label" for="password">Senha</label>
                <input type="password"
                        required
                        class="form-control"
                        name="password" 
                        id="password" 
                        placeholder="senha">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                <label class="form-label" for="confirmPassword">Confirme sua Senha</label>
                <input type="password"
                        required
                        class="form-control"
                        name="confirmPassword" 
                        id="confirmPassword" 
                        placeholder="Confirme sua senha">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-3">
                <button
                    type="submit"
                    class="btn btn-primary">Cadastrar
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" 
                        height="16" fill="currentColor" 
                        class="bi bi-box-arrow-in-right" 
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                        <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                      </svg>
                    </button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}