{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h3>Cadastro de Produto</h3>
        <form method="POST">
            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                <label class="form-label" for="image">Foto</label>
                <input type="file"
                        class="form-control"
                        name="image" 
                        id="image" 
                        placeholder="Marca">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                <label class="form-label" for="marca">Marca</label>
                <input type="text"
                        required
                        class="form-control"
                        name="marca" 
                        id="marca" 
                        placeholder="Marca">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                <label class="form-label" for="modelo">Modelo</label>
                <input type="text"
                        required
                        class="form-control"
                        name="modelo" 
                        id="modelo" 
                        placeholder="Modelo">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                <label class="form-label" for="preco">Valor</label>
                <input type="text"
                        required
                        class="form-control"
                        name="preco" 
                        id="preco" 
                        placeholder="R$ 00,00">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                <label class="form-label" for="tamanho">Tamanho</label>
                <input type="text"
                        required
                        class="form-control"
                        name="tamanho" 
                        id="tamanho" 
                        placeholder="P, PP, M, G, GG">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                <label class="form-label" for="quantidade">Quantidade</label>
                <input type="number"
                        required
                        class="form-control"
                        name="quantidade" 
                        id="quantidade" 
                        placeholder="10">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                <label class="form-label" for="image">Categoria</label>
                <select class="form-select form-select-sm" name="categoria" id="categoria" aria-label=".form-select-sm example">
                    <option selected>Categorias</option>
                    {% for item in categorias %}
                    <option value="{{item.id}}">{{item.nome}}</option>
                    {% endfor %}

                </select>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-3">
                <button
                    type="submit"
                    class="btn btn-primary">Cadastrar
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" 
                        height="16" fill="currentColor" 
                        class="bi bi-box-arrow-in-right" 
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                        <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                      </svg>
                    </button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}