{% extends "base.html" %}

{% block content %}

<div class="card text-center " style="margin-left: 20px; margin-right: 20px">
  <div class="card-header">
    Carrinho
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Produto</th>
          <th scope="col">Cliente</th>
          <th scope="col">R$</th>
          <th scope="col">Quantidade</th>
        </tr>
      </thead>
      <tbody>
        {% for items in carrinho %}
        <tr>
          <th >{{items.produto.modelo}}</th>
          <td>{{items.cliente.nome}}</td>
          <th>{{items.produto.preco}}</th>
          <th>
            {{items.quantidade}}
          </th>
        </tr>
        {% endfor%}
      </tbody>
    </table>
  <div class="card-footer ">
    CEP: <strong>{{cliente.cep}}</strong>
    <div>
      Frete: <strong>{{frete}}</strong>
    </div>
    <div>
      Valor total: <strong>{{total}}</strong>
    </div>
    <form action="" method="post">
      <div class="mt-2">
        <select name="pagamento" style="width: 200px;">              
          <option selected value="0">Forma de pagamento</option>
          <option value="boleto">Boleto</option>
          <option value="pix">Pix</option>
          <option value="catao">Cartão</option>
      </select>
      </div>
      
      <button type="submit" class="btn btn-success mt-2">Finalizar Pedido</button>
    </form>
  </div>
</div>



{% endblock content %}