{% extends "base.html" %}

{% block content %}
<div style="padding-bottom: 30px; display: flex; padding-left: 30px;">
    <div class="card" style="width: 18rem; margin-right: 30px;">
        <img src="../static/img/tecladoama" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Teclado</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;  margin-right: 30px;">
        <img src="../static/img/mouse.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mouse</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;  margin-right: 30px;">
        <img src="../static/img/kit.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Kit</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;  margin-right: 30px;">
        <img src="../static/img/notbook" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dell</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;  margin-right: 30px;">
        <img src="../static/img/notbook2" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">Sansung</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
    </div>
</div>
{% endblock content %}