{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
  <div class="card mb-3">
    <div class="embed-responsive embed-responsive-4by3">
      <img src="{{ url_for('produtoController.get_imagem', id=produto.id_imagem) }}" class="card-img-top" alt="...">
    </div>
    <div class="card-body">
      <p class="card-text">Código do Produto: {{produto.id}}</p>
      <img src = "{{ url_for('produtoController.get_imagem', id=produto.id_imagem) }}" style="width: 300px;">
      <p class="card-text">Preço: {{produto.preco}}</p>
      <p class="card-text">Marca: {{produto.marca}}</p>
      <p class="card-text">Tamanho: {{produto.tamanho}}</p>
      <p class="card-text">Descrição: {{produto.descricao}}</p>
      <p class="card-text">Informações Técnicas: {{produto.inf_tecnica}}</p>
      <form method="POST">
        <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
          <label class="form-label" for="quantidade">Quantidade</label>
          <input type="number"
                  required
                  class="form-control"
                  name="quantidade" 
                  id="quantidade" 
                  placeholder="10">
        </div>
      
     
      <br>
      <a href="{{ url_for('carrinhoController.produtoCarrinho', id=produto.id)}}" class="btn btn-primary" type="submit">Adicionar ao carrinho</a>
    </form>
    </div>
  </div>
</div>
{% endblock content %}