{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
  <div class="card mb-3">
    <div class="embed-responsive embed-responsive-4by3">
      <img src="{{ url_for('produtoController.get_imagem', id=produto.id_imagem) }}" class="card-img-top" alt="...">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{produto.modelo}}</h5>
      <p class="card-text">Preço: {{produto.preco}}</p>
      <p class="card-text">Marca: {{produto.marca}}</p>
      <p class="card-text">Tamanho: {{produto.tamanho}}</p>
      <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
    </div>
  </div>
</div>
{% endblock content %}